.anim8 {
    transition: .3s;
}

.slideLeft,
.slideRight,
.slideTop,
.slideBottom {
    transition: .3s;
}

.slideLeft {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.slideRight {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);;
}

.slideBottom {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.slideTop {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.appear .slideLeft,
.appear .slideRight,
.appear .slideTop,
.appear .slideBottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.turn-1 {
    transition-delay: .3s;
}

.turn-2 {
    transition-delay: .6s;
}

.turn-3 {
    transition-delay: .9s;
}

.turn-4 {
    transition-delay: 1.2s;
}

.turn-5 {
    transition-delay: 1.5s;
}

.turn-6 {
    transition-delay: 1.8s;
}

.turn-7 {
    transition-delay: 2.1s;
}

.turn-8 {
    transition-delay: 2.4s;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}