.stories{
    padding:10vh 7.5vw;
    box-sizing: border-box;
}

header{
    margin-bottom:5vh;
}

.story{
    display: flex;
    width: 100%;
    height:50vh;
    margin:20px 0;

}

.story:nth-child(even){
    flex-direction: row-reverse;
}

.story:nth-child(even) .story-text{
    text-align: right;
    align-items: flex-end;
}
.story .story-image{
    border-radius: 5px;
    box-shadow:2px 2px 8px rgba(0,0,0,0.2);
    overflow: hidden;
}
.story .story-image, .story .story-text{
    width:50%;
    height:100%;
}
.story .story-image img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: top center;
}

.story .story-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0 2vw;
    box-sizing: border-box;
}

.story .story-title{
    font-size:1.3rem;
    font-weight: bold;
}
.story .story-description{
    margin:5px 0;
}

@media (max-width:768px){
    .story,    .story:nth-child(even){
        flex-direction: column;
    }
    .story:nth-child(even){

    }
    .story .story-image,.story .story-text   {
        width:100%;
    }
}