
/*sections*/
section.welcome{
    height:100vh;
    width:100%;
    display: flex;
}
.view .text-area, .view .image-area{
    height:100%;
    width:50%;
}
.welcome .image-area img{
    height:100%;
    width:100%;
    object-fit: contain;
    object-position: top right;
}
.welcome .text-area{
    padding: var(--wrapper-padding);
    box-sizing: border-box;
}
.welcome .description{
    margin:20px 0;
}
.intro-section{
    padding:0 7.5vw;
    margin:0;
    box-sizing: border-box;
}
.intro-img img{
    height:300px;
    width:auto;
}
.glimpses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px 0;
}
.glimpse{

}
.glimpse-details{
    display: flex;
    align-items: flex-end;
}

.glimpse-details img{
    height:80px;
    width:80px;
    object-fit: contain;
    object-position: center;
}

.glimpse-number{
    font-size:5vw;
}

section.yield{
}
.yield-content{
    margin:3vh 0;
    position: relative;
}
.video-player{
    border-radius: 5px;
    overflow: hidden;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    position: relative;
}

.video-player .play-icon{
    position: absolute;
    font-size:5vw;
    z-index: 1;
    color:var(--primary-color);
}

.video-player iframe{
    border-radius: 5px;
    height:100%;
    width:100%;
    overflow: hidden;
}


.yield-content .text-area{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    width:100%;
    margin:20px 0;

}
.yield-features{
    width:100%;
}
.yield-feature{
    font-size:1.3rem;
    margin:10px 0;
    display: flex;
    align-items: center;
}


.yield-feature.active{
    color:var(--primary-color);
}


.timeline-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10vh 0;
}
.timeline-section .section-title{
    font-size:2vw;
}
.timeline-story{
    height:85vh;

}
.timeline-story .half{
    height:100%;
    width:50%;
}
.timeline-story .text-area{
    padding-right:7.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: center;
}

.story-title{
    font-size:6vw;
}
.story-sub-title{
    font-size:2vw;
}
.timeline-story img{
    height:100%;
    width:100%;
    object-fit: contain;
    object-position: left;
}
.timeline-area{
    width:85%;
    box-sizing: border-box;
    overflow: hidden;
}

.timelines{
    /*width:200%; */
    width:1900px;
    overflow: hidden;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: flex-start;
}
.timelines-story {
    width:200px;
    display: flex;
    margin-right:10px;
}
.timelines-story img{
    height:50px;
    width:50px;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;
}

.timeline-story-detail{
    padding:0 5px;
}
.timeline-story-year{
    font-size:1.7rem;
}

.slidecontainer {
    margin:20px;
    width: 80%;
}
section.stories{
    background:rgba(0,0,0,0.12);
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

@media (max-width:768px){
    .welcome{
        flex-direction: column-reverse;
    }
    .welcome .text-area, .welcome .image-area{
        width:100%;
        height:50%;
    }

    header .intro-img img{
        width:300px;
        height:300px;
        object-fit: contain;
    }
    .intro-img{
        margin:3vh 0;
    }
    .yield-features{
        flex-direction: column;
    }
    .glimpses{
        flex-wrap: wrap ;
        justify-content: space-around;
    }
    .glimpse{
        margin:10px 0;
        width:48%;
    }

    .glimpse-icon img{
        height:40px;
        width:40px;
    }
    .glimpse-number{
        font-size:2rem;
    }
    .glimpse-details{
        align-items: center;
        justify-content: center;
    }
    .timeline-story .half{
        width:100%;
        height:50%;
        text-align: center;
    }
    .story-title{
        font-size:5rem;
    }
    .story-sub-title{
        font-size:1.4rem;
    }
    .timeline-story{
        flex-direction: column;
    }
    .timeline-story .text-area{
        align-items: center;
        padding:0 5vw;
        box-sizing: border-box;
    }
    .timeline-area{
        margin:20px 0;
    }
}