body {
    margin: 0;
    /*font-size:1.3rem;*/
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.flex-one {
    flex: 1;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*height and widths*/
.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

/*margins and paddings*/
.mx-5 {
    margin: var(--wrapper-padding);
}

.my-5 {
    margin: 5vh 0;
}

.mx-10 {
    margin: 0 10vw;
}

.my-10 {
    margin: 10vh 0;
}

.wrapper {
    padding: var(--padding-val);
    box-sizing: border-box;
}

header, .header {
    text-align: center;
    margin: 10vh 0;
}

/*main*/

/*nav*/
body {
    margin: 0;
}

.sticky-top {
    top: 0;
    position: sticky;
    transition: .3s;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 7.5vw;
    box-sizing: border-box;
    z-index: 99;
}

nav.scrolled {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.nav-item {
    padding: 5px 10px;
    box-sizing: border-box;

}

.nav-item a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-text-color)
}

.nav-item a:hover {
    color: var(--accent-color);
}

.nav-item a.active {
    color: var(--primary-color);
}

.nav-item.active {
    border-bottom: 2px solid var(--accent-color);
}

.nav-item.light-nav {
    color: white;
    cursor: pointer;
}

.logo img {
    height: 4vh;
    width: auto;
}

.menu-bar {
    display: none;
    align-items: center;
}

.menu-bar i {
    color: var(--primary-color);

}

footer {
    padding: 3vh 7.5vw;
}

footer .footer-col-description {
    font-size: .8rem;
    margin: 10px 0;
}

footer .footer-col-title {
    font-size: 1.3rem;
}

footer .footer-col-title img {
    height: 5vh;
    width: auto;
}

.footer-details {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: flex-end;
}

.impact {
    width: 18.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.impact-detail {
    display: flex;
    align-items: center;
}

.impact-number {
    font-size: 4vw;
}

.impact-icon {
    height: 50px;
    width: 50px;
}

.impact-icon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
}

.impact-title {
    /*text-align: center;*/
}

section.getInvolved {
    height: 100vh;
    width: 100%;
    background: url('../images/subscribeImg.png') fixed center;
    background-size: contain;
}

.getInvolved .description {
    margin: 20px 0;
    width: 50vw;
}

.modal {
    top: 0;
    left: 0;
    position: fixed;
	display: none;
    z-index: 102;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.modal.active{
	display: flex;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
}

.modal-card {
    background: white;
    height: 70vh;
    width: 60vw;
	z-index:2;
	display: flex;
	padding:10px;
	border-radius: 5px;
	animation:appear .3s;
	box-shadow: 2px 2px rgba(0,0,0,0.4);
}
.modal-card .modal-image img{
	height: 100%;
	width:100%;
	object-fit: cover;
	object-position: center;
	padding:0 5px;
	box-sizing: border-box;
	border-radius: 5px;
}
.modal-card .modal-image{
	position: sticky;
	top:0;
}
.modal-card .modal-image,
.modal-card .modal-text{
	width:50%;
	height:100%;
}
.modal-card .modal-text {
	overflow: auto;
	padding-left:2vw;
	box-sizing: border-box;
}
.modal-title{
	font-size:2rem;
}
@media (max-width: 768px) {
    nav {
        background: white;
    }

    .nav-items {
        display: none;
		animation:.3s slideRight;
    }

    nav.active .nav-items {
        display: flex;
        position: fixed;
        background: white;
        right: 0;
        width: 65%;
        flex-direction: column;
        padding: 5vh 3vh;
        box-sizing: border-box;
        top: 0;
        align-items: flex-end;
        font-size: 1.5rem;
        text-align: right;
        justify-content: unset;
        height: 100vh;
        z-index: 102;
    }

    nav.active .backdrop {
        height: 100vh;
        display: block;
        top: 0;
        left: 0;
        width: 100vw;
        background: rgba(0, 0, 0, 0.2);
        position: fixed;
        z-index: 101;
    }

    .menu-bar {
        display: flex;
    }

    .impacts {
        flex-wrap: wrap;
    }

    .impact {
        margin: 20px 0;
        width: 48%;
        text-align: center;
    }

    .impact-number {
        font-size: 2rem;
        margin: 0 5px;
    }

    .getInvolved {
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .getInvolved .description {
        width: 75%;
    }

    footer {
        flex-direction: column;
    }

    .footer-col {
        margin-bottom: 20px;
    }
	.modal-card{
		flex-direction: column;
		width:80vw
	}
	.modal-card .modal-image, .modal-card .modal-text{
		width:100%;
	}
	.modal-card .modal-image{
		height:30%;
	}
	.modal-card .modal-text{
		height:70%;
	}
}