@font-face{
  font-family: trebuc;
  src: url(../fonts/trebuc.ttf);
}
:root{
	--primary-color:#eb8422;
	--accent-color:#d60a2e;
	--primary-font:"trebuc",sans-serif;
	--primary-text-color:#0a0b21;
	--title-font:3vw;
	--wrapper-padding: 10vh 7.5vw;
	--light-color:white;
	--padding-val:0 7.5vw;
	--button-radius:5px;
	--button-shadow:2px 2px 16px rgba(0,0,0,0.2);
	--card-radius:0;
	--big-title-font:4vw;
	--med-title-font:2vw;
}

@media (max-width:768px){
	:root{
		--title-font:3vh;
		--med-title-font: 1.3rem;
		--big-title-font: 3rem;
	}
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
		:root{
		--title-font:7vh;
	}	
}