main{

}

section.intro{
    padding:10vh 5vw 3vh;
    box-sizing: border-box;
    height:100vh;
    width:100%;
}

.intro iframe{
    height:100%;
    width:100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px rgba(0,0,0,0.12);
}

header{
    margin-top:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
header div{
    width:50%;
    text-align: center;
}


.lined-title{
    padding: 0 7.5vw;
    box-sizing: border-box;
}

.feature{
    height:60vh;
    display: flex;
}
.feature:nth-child(odd){
    flex-direction: row-reverse;
}
.feature .feature-image, .feature .feature-details{
    width:50%;
    height:100%;
}
.feature-image img{
    height:100%;
    width:100%;
    object-fit: contain;
    object-position: center;
}

.feature-details{
    padding:0 7.5vw;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.feature-details:nth-child(even){
    text-align: left;
}

.feature-title{
    font-size:2vw;
}

section.platform{
    padding: 0 7.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.platform .med-title{
    width:60%;
}

.platform img{
    margin: 5vh 0;
    width:100%;
    height:80vh;
    object-fit: contain;
    object-position: center;

}


@media (max-width: 768px) {
    header div{
        width:90%;
    }

    .feature, .feature:nth-child(odd){
        flex-direction: column;
    }
    .feature .feature-image, .feature .feature-details{
        width:100%;
        height:50%;
        text-align: center;
    }

    .feature-title{
        font-size:1.5rem;
    }

    .platform .med-title{
        width:90%;
    }

    .platform img{
        height: 26vh;

    }
}